<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Diary_Application"
        android:roundIcon="@mipmap/img_1"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiaryApplication">

        <activity android:name="com.example.dairyApplication.Controller.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.dairyApplication.Controller.MainActivity"
            android:exported="true" />
        <activity android:name="com.example.dairyApplication.Controller.DiaryEntryActivity"
            android:exported="true" />
        <activity android:name="com.example.dairyApplication.Controller.SettingsActivity"
            android:exported="true" />
        <activity android:name="com.example.dairyApplication.Controller.ProfileActivity"
            android:exported="true" />
        <activity android:name="com.example.dairyApplication.Model.testDatabase"
            android:exported="true" />
        <activity android:name="com.example.dairyApplication.Controller.RegisterActivity"
            android:exported="true" />
        <activity android:name="com.example.dairyApplication.Controller.DatabaseActivity"
            android:exported="true" />

        <!-- 添加 ChangePasswordActivity 的声明 -->
        <activity android:name="com.example.dairyApplication.Controller.ChangePasswordActivity"
            android:exported="true" />

    </application>

</manifest>
